* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Slabo 13px';
    font-size: 12px;
}

@import 'grid/grid';
@import 'header/header';
@import 'footer/footer';
@import 'nav-bar/nav-bar';
