* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Slabo 13px';
    font-size: 14px;
}

body {
	background-color: #1d1d1d;
}

@import 'general/grid';
@import 'general/typography';
@import 'general/general';
@import 'header/header';
@import 'footer/footer';
@import 'nav-bar/nav-bar';

@import 'main/main';
@import 'post/post';
@import 'article/article';
