.nav-bar {
    background-color: #1d1d1d;
    color: #fff;
    padding: 20px 0;
    &__logo, &__nav {
        font-size: 2rem;
    }
    
    &__nav {
        list-style: none;
        float: right;
        li {
            display: inline-block;
            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
        a {
            text-decoration: none;
            color: #fff;
            &:hover {
                text-decoration: line-through;
            }
        }
    }
}
